.env
<!-- Projects section
Projects section
Projects section -->
<section id="projects" style="background-color: #f5f6f7;">
  <div class="container">
    <header class="mb-5 pb-4" >
      <h2 class="text-uppercase lined" >Projects</h2>
    </header>
    <div class="row">
  
      <!-- Memory Game -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" style="height: 100%;">
        <div class="px-4 py-5 text-center contact-item shadow-sm" ><a class="px-4 py-5 text-center contact-item shadow-sm d-block reset-anchor" href="https://jirehlau.github.io/Memory-Game/"><img src="img/gaLogo.png" style="width: 70%; height: 70%;">
          <h4 class="contact-item-title h5 text-uppercase">Memory Game</h4>
          <p class="text-small mb-0">This is a memory game I created for my first Project at General Assembly. The main point of the game is to have all the 
            cards to show within a time period of 60 seconds. If two cards match, it will stay flipped, if it doesn’t, it will flip back. </p> <Br>Click to Play!</a>
        </div> 
      </div>
      
      <!-- GuyBean  -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" style="height: 100%;">
        <div class="px-4 py-5 text-center contact-item shadow-sm"><a class="px-4 py-5 text-center contact-item shadow-sm d-block reset-anchor" href="https://guybean-prototype.herokuapp.com/users/"><img src="img/GuyBean New.jpg" style="width: 70%; height: 70%;">
          <h4 class="contact-item-title h5 text-uppercase">GuyBean</h4>
          <p class="text-small mb-0">GuyBean is a restaurant booking platform offering off peak hour dine ins on selected food items. I first planned by drawing out an ERD diagram 
            to understand what type of relationships I would need for my back-end and database. Then prototyped using Figma, implemented the backend functions using model, views, 
            controllers, and eventually integrated some of the front-end work with EJS and CSS.</p><br>Click to Visit!</a>
        </div>
      </div>

      <!-- Project 3 -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0"><a class="px-4 py-5 text-center contact-item shadow-sm d-block reset-anchor" href="https://glow-up-app.herokuapp.com/"><img src="img/glowup.png" style="width: 70%; height: 70%;">
          <h4 class="contact-item-title h5 text-uppercase"  style="padding-top: 5%;" >Glow Up</h4>
          <p class="text-small mb-0">GlowUp is a web-based platform offering personalized skin and hair logs for users to keep track of their routines. 
            This project involved 3 software engineers including myself + 3 UX design individuals.</p><br>Click to Visit!</a>
      </div>
      <!-- Project 4  -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0"><a class="px-4 py-5 text-center contact-item shadow-sm d-block reset-anchor" href="#"><img src="img/comingSoon.jpeg" style="width: 70%; height: 70%;">
          <h4 class="contact-item-title h5 text-uppercase">Coming soon...</h4>
          <p class="text-small mb-0">Coming soon...</p></a></div>
    </div>
  </div>
</section> 